.container form .field input {
    border-color: #d5b361;
    width: 984px;
    border-radius: 20px;
}

.container form .field select {
    border-color: #d5b361;
    border-radius: 20px;
}
.container form .field textarea {
    border-color: #d5b361;
    border-radius: 20px;
    max-width: 984px;
    min-width: 0px;
}
/* .container form .file {
    overflow: hidden;
    perspective: 1px;
} */
.file-cta {
    color: white;
    background-color: #d5b361;
}

.container form .file .file-label {
    border-color: #d5b361;
    border-radius: 20px;
}
.position {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 13px;
}
.position .studentrole {
    margin-left: 690px;
}
.position .pdffile {
    margin-left: 350px;
}
.position .profilephoto {
    left: 530px;
    top: 45px;
}
.position1 {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 13px;
}
.position1 .profphoto {
    margin-left: 575px;
    /* padding-bottom: 66px; */
    margin-top: 40px;
    top: 20px;
}
.container form .control button {
    color: white;
    background-color: #d5b361;
    border-radius: 10px;
}
.container form .create {
    position: absolute;
    top: 6px;
    left: 1150px;
    width: 250px;
    height: 251px;
}
.container form .create .createimg {
    width: 250px;
    height: 251px;
}
.container form .inverse {
    position: absolute;
    top: 250px;
    left: 1050px;
    width: 170px;
    height: 140px;
    transform: rotate(82deg);
}
.container form .inverse .inverseimg {
    width: 170px;
    height: 140px;
}
.createcontainer {
    position: relative;
    margin-top: -18px;
}
.field .inputtitle {
    color: #221f33;
    font-size: larger;
    margin-left: 6px;
}
.checkbox {
    color: #221f33;
    font-size: large;
}
.input,
.select select,
.textarea {
    color: #221f33;
    font-size: large;
}
.position .selectprof {
    margin-left: 500px;
}
.position .pos .file-label1 {
    margin-top: 37px;
    margin-left: 550px;
    border-color: #d5b361;
    border-radius: 20px;
}
.container form .field .checkrole input {
    width: 30px;
}

.position .marginleft {
    margin-left: 549px;
}
.studentphoto {
    margin-bottom: 20px;
}
