.profilesection {
    background: rgb(36, 33, 54);
    background: linear-gradient(
        90deg,
        rgba(36, 33, 54, 0.9556197478991597) 0%,
        rgba(36, 33, 54, 0.27) 30%,
        rgba(8, 3, 11, 0.26934523809523814) 70%,
        rgba(36, 33, 54, 0.96) 100%
    );
}

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.profilecard {
    position: relative;
    width: 400px;
    height: 450px;
    box-shadow: 0 10px 20px #808080;
    background-color: #221f33;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    border-bottom-left-radius: 40%;
    border-bottom-right-radius: 40%;
}

.profileSubtitle {
    color: #ffffffc9;
    font-size: larger;
}

.profileimage img {
    position: absolute;
    top: -19px;
    left: 492px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto;
    border: 5px solid #d5b361;
    z-index: +1;
}

.username {
    margin-top: 55px;
    padding: 5px 0px 0px 0px;
    color: #d5b361;
}

.profile-button {
    margin: 12px 130px;
    background-color: #d5b361;
    border: #d5b361;
    color: #221f33;
    font-size: large;
}

.icon-color {
    color: #d5b361;
}
