.semestercard {
    width: 550px;
    height: 350px;
    position: relative;
    box-shadow: 0 10px 20px #0a1516c9;
}

.semesterimg {
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.semestername {
    margin: 0 auto;
    border: none;
}

.border1 {
    border-top-color: #221f33;
    border-top-width: 2px;
    border-top-style: solid;
}
.smallfigure1 {
    position: absolute;
    top: 20px;
    left: 420px;
}

.smallfigure2 {
    position: absolute;
    top: 150px;
    left: 20px;
}
