.coursercard {
    width: 330px;
    height: 450px;
    box-shadow: 0 10px 20px #808080;
    border-radius: 30px;
    margin: 0 auto;
}

.courselogo {
    width: 244px;
    height: 198px;
}
.card-content .coursename {
    font-size: larger;
    color: #221f33;
}

.card-content .professorname {
    font-size: larger;
    color: #221f33;
}

.card-content .description {
    font-size: larger;
    color: #221f33;
    /* display: block; */
    /* width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
 */
}

.iconColor1 {
    color: #221f33;
}
