.coursercard {
    width: 280px;
    height: 385px;
    box-shadow: 0 10px 20px #0a1516c9;
    border-radius: 30px;
    margin: 0 auto;
}

.courselogo {
    width: 244px;
    height: 198px;
}
.card-content .coursename {
    margin-top: -20px;
    margin-left: -17px;
    font-size: large;
    color: #221f33;
}

.card-content .professorname {
    margin-top: -20px;
    margin-left: -17px;
    font-size: large;
    color: #221f33;
}
.card-content .description {
    margin-top: -20px;
    margin-left: -17px;
    font-size: large;
    color: #221f33;
}
