.questionstyle {
    color: #242136;
    font-size: 25px;
}
.markstyle {
    color: #d5b361;
    font-size: 20px;
}
.optionstyle {
    border: 0.5px solid grey;
    color: #242136;
    font-size: 20px;
    padding: 4px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 2px;
    width: 100%;
    border: none;
}
.radiosize {
    width: 15px;
    height: 15px;
}
.button.is-link.substyle {
    background-color: #d5b361;
    color: white;
    width: 160px;
    height: 50px;
    border-radius: 20px;
}
.titlequize {
    text-align: center;
    font-size: x-large;
    color: #242136;
    margin-top: 5px;
    margin-bottom: 20px;
}
.submitsize {
    font-size: large;
}
