.semestercard {
    width: 559px;
    height: 307px;
    position: relative;
    box-shadow: 0 10px 20px #808080;
    margin: 0 50px;
}

.semesterimg {
    width: 164px;
    height: 164px;
    margin: 0 auto;
}

.semestername {
    margin: 0 auto;
    border: none;
    margin-top: -35px;
}

.border1 {
    border-top-color: #221f33;
    border-top-width: 2px;
    border-top-style: solid;
}
.smallfigure1 {
    position: absolute;
    top: 10px;
    left: 480px;
    transform: rotate(171deg);
    width: 70px;
    height: 70px;
}
.image img {
    width: 70px;
    height: 70px;
    margin-top: 0px;
}
.smallfigure2 {
    position: absolute;
    top: 150px;
    left: 20px;
}
